@import url(../css/reset.css);
@import url(../css/font.css);
@import url(../css/swiper-bundle.min.css);
@import url(//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css);



@import '_variable';
@import '_main';
@import '_audio_ssok';
@import '_comments';


@each $key, $color in $colors {
    .fc_#{$key} {
        color: $color;
    }
}

.m_only {
    display: none;
}

#content {
    overflow: hidden;
    &.sub_m {
        background-color: #f5f5f5;
    }
    &.audio_on {
        padding-bottom: 170px;
    }
}

#container {
    &.sub {
        max-width: 740px;
        margin: 0 auto;
        padding-top: 210px;
    }
    &.sub_m {
        max-width: 740px;
        margin: 0 auto;
        padding-top: 60px;
        background-color: #fff;
        min-height: 100vh;
        box-sizing: border-box;
        height: 100%;
    }
    &.ty_audio_ssok {
        padding-top: 40px;
    }

    &.has_header {
        padding-top: 210px;
    }
}


.header {
    background-color: #fff;
    position: absolute;
    z-index: 9999;
    width: 100%;

    left: 0;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);

    @at-root .sub & {
        min-width: auto;
    }
    &_top {
        padding: 0 40px;
        .logo {
            a {
                display: block;
            }
        }
        &_inner {
            height: 120px;
            position: relative;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            max-width: 1140px;
            margin: 0 auto;
        }
    }
    &_util {
        display: flex;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        .btn_mypage {
            display: block;
            width: 50px;
            height: 50px;
            background: url(../images/ico/ico_mem_b.svg) no-repeat center center;

        }
        .btn_lm {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            position: relative;
            margin-left: 10px;
            .bar_box {
                width: 32px;
                height: 20px;
                position: relative;
                .bar {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #212121;
                    left: 0%;
                    &.top {
                        top: 0;
                    }
                    &.mid {
                        top: 9px;
                    }
                    &.bot {
                        width: 60%;
                        top: 18px;
                    }

                }
            }

        }

        .btn_sign {

            display: flex;
            align-items: center;
            margin-left: 20px;
            &.ty_login {
                margin-left: 0;
            }
            &_ico {
                width: 26px;
                height: 26px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 24px auto;

                @at-root .ty_logout .btn_sign_ico {
                    background-image: url(../images/ico/ico_sign.svg);
                }
                @at-root .ty_login .btn_sign_ico {
                    width: 50px;
                    height: 50px;
                    background-image: url(../images/ico/ico_sign_on.svg);
                }
            }
            @at-root .ty_login .btn_sign_txt {
                display: none;
            }
            &_txt {
                font-size: 18px;
                margin-left: 10px;
                font-weight: 500;
                margin-bottom: 1px;
                //line-height: 18px;
                color: #5326a7;
            }
        }
    }



    .nav_area {
        position: relative;
        height: 60px;
        .nav {
            position: absolute;
            width: 100%;
            text-align: center;
            &_list {
                li {
                    display: inline-block;
                    vertical-align: top;

                    & + li {
                        margin-left: 50px;
                    }
                    a {
                        display: block;
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 60px;
                        color: #212121;

                        span {
                            display: block;
                            position: relative;
                            padding: 0 10px;

                        }
                    }
                    &.on {
                        font-family: 'Godo';
                        a {
                            font-size: 24px;
                            span {
                                &::after {
                                    content:'';
                                    position: absolute;
                                    width: 100%;
                                    height: 8px;
                                    background-color: rgba(119, 0, 255, 0.2);
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    z-index: -1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}

.inner {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 40px;
}


.sub_inner {
    padding: 0 20px;
}




.footer {
    background-color: #f5f5f5;
    padding: 20px 16px;
    text-align: center;

    &_menu {
        font-size: 0;
        margin-bottom: 12px;
        li {
            display: inline-block;
            vertical-align: top;
            padding: 0 10px;
            position: relative;
            &::after {
                content:'';
                position: absolute;
                width: 1px;
                height: 10px;
                background-color: #ccc;
                right: 0;
                top: 50%;
                margin-top: -5px;
            }
            &:last-child::after {
                display: none;
            }
        }
        a {
            display: block;
            font-size: 11px;
            line-height: 1.82;
            letter-spacing: -0.55px;
        }
    }
    .footer_policy {
        box-sizing: border-box;
        max-width: 500px;
        margin: 0 auto;
        background-color: #fff;
        text-align: left;
        border: 1px solid rgba(0, 0, 0, 0.1);
        &_tit {
            button {
                display: block;
                width: 100%;
                line-height: 30px;
                padding: 0 12px;
                position: relative;
                font-size: 12px;
                font-weight: bold;
                text-align: center;

                i {
                    position: absolute;
                    width: 12px;
                    height: 7px;
                    background-image: url(../images/ico/ico_open.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    right: 12px;
                    top: 50%;
                    margin-top: -3.5px;
                }
            }
        }

        &.on {
            .footer_policy_tit button i {
                transform: rotate(180deg);
            }
        }



        .txt_box {
            display: none;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 9px 11px;
            font-size: 10px;
            color: #666;
            line-height: 1.6;
            letter-spacing: -0.3px;
        }
    }
    .copy {
        font-size: 11px;
        line-height: 13px;
        font-weight: 500;
        margin-top: 12px;
    }

}




/* btns */
.btn {
    &_area {
        font-size: 0;
        &.ty_bot {
            margin-top: 30px;
        }
        &.ty_bot2 {
            margin-top: 20px;
        }
        &.taC {
            text-align: center;
        }
        &.taR {
            text-align: right;
        }
        [class^=btn] {
             margin: 0 5px;
        }
    }
    &_small {
        display: inline-block;
        vertical-align: top;
        height: 24px;
        line-height: 22px;
        padding: 0 5px;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 400;
        border-style: solid;
        border-width: 1px;
        &.white {
            color: #fff;
            border-color: #fff;
        }
        &.white2 {
            color: #424242;
            border-color: #fff;
            background-color: #fff;
            font-weight: 500;
        }
        &.grey {
            padding: 0 10px;
            color: #424242;
            background-color: #f5f5f5;
            border-color: rgba(0, 0, 0, 0.07);
        }
    }
    &_save {
        display: inline-block;
        vertical-align: top;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../images/ico/ico_save.svg);
        &.white {
            background-image: url(../images/ico/ico_save_w.svg);
        }
    }

    &_write {
        display: inline-block;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../images/ico/ico_write.svg);
        &.white {
            background-image: url(../images/ico/ico_write_w.svg);
        }
    }
    &_back {
        width: 40px;
        height: 40px;
        background: url(../images/ico/arrow_r.svg) no-repeat center center;
        &.black {
            background-image: url(../images/ico/arrow_l_b.svg);
        }
    }
    &_mid {
        height: 36px;
        line-height: 34px;
        box-sizing: border-box;
        border-radius: 6px;
        border: 1px solid #5e25c7;
        background-color: #5e25c7;
        text-align: center;
        padding: 0 15px;
        min-width: 120px;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        &.white {
            color: #5e25c7;
            background-color: #fff;
        }
    }
    &_more {
        display: inline-block;
        vertical-align: top;
        width: 80px;
        flex-shrink: 0;
        padding: 0 12px 0 15px;
        box-sizing: border-box;
        background-color: #fff;
        height: 30px;

        border-radius: 15px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        span {
            position: relative;
            display: block;
            width: 100%;
            line-height: 30px;
            font-size: 14px;
            background-image: url(../images/ico/arrow_more.svg);
            background-repeat: no-repeat;
            background-position: right 55%;
        }

    }
    &_more2 {
        display: inline-block;
        vertical-align: top;
        flex-shrink: 0;
        padding: 0 12px 0 13px;
        box-sizing: border-box;
        background-color: #fff;
        height: 30px;
        border-radius: 15px;
        border: 1px solid #ccc;
        span {
            position: relative;
            display: block;
            width: 100%;
            padding-right: 12px;
            box-sizing: border-box;
            line-height: 28px;
            font-size: 13px;
            letter-spacing: -0.4px;
            background-image: url(../images/ico/arrow_more.svg);
            background-repeat: no-repeat;
            background-position: right 55%;
        }
    }
    &_write2 {
        padding: 0 15px;
        border-radius: 6px;
        border: solid 1px rgba(94, 37, 199, 0.2);
        color: #5e25c7;
        height: 36px;
        font-weight: 500;
        span {
            display: block;
            padding-left: 17px;
            line-height: 34px;
            background: url(../images/ico/ico_pen.svg) no-repeat 0 center;

        }
    }
    &_plus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin: 0 !important;
        height: 36px;
        line-height: 36px;
        background-color: #5e25c7;
        border-radius: 6px;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        i {
            display: inline-block;
            margin-right: 4px;
            vertical-align: top;
            width: 12px;
            height: 12px;
            position: relative;

            &::before {
                content:'';
                position: absolute;
                left: 50%;
                top: 0;
                margin-left: -1px;
                width: 2px;
                height: 100%;
                background-color: #fff;
                border-radius: 2px;
            }
            &::after {
                content:'';
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -1px;
                width: 100%;
                height: 2px;
                background-color: #fff;
                border-radius: 2px;
            }
        }
        &.ty_grey {
            border: 1px solid #e1e1e1;
            box-sizing: border-box;
            line-height: 34px;
            background-color: #f5f5f5;
            color: #424242;
            i {
                &::after {
                    background-color: #424242;
                }
                &::before {
                    background-color: #424242;
                }
            }
        }
    }
}







.sub_header {
    position: fixed;
    z-index: 999;
    width: 100%;
    max-width: 740px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    box-sizing: border-box;
    padding: 0 40px;
    height: 40px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    .tit {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 16px;
        line-height: 40px;
        font-weight: normal;
    }
    .btn_back {
        position: absolute;
        left: 0;
        top: 0;
        background: url('../images/ico/arrow_l_b.svg') no-repeat center center;
    }
}


.sc_tit {
    h1, h2, h3, h4 {
        font-weight: 500;
    }
}


.sc_thumb {
    padding-top: 56.25%;
    position: relative;

    &.ty2 {
        padding-top: 136%;
    }

    &_img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 8px;
        overflow: hidden;
        background-color: #eee;
        background-image: url(../images/common/logo.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50%;
        img {
            width: 100%;
            height: 100%;
            //object-fit: cover;
            transition: all .2s ease-in-out;
        }
        &:hover img {
            transform: scale(1.05);
        }
    }

    .ico_audio {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 0 6px 6px 6px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        &.ty2 {
            border-radius: 50%;
            width: 24px;
            height: 24px;
            left: 4px;
            top: 4px;
            img {
                width: 14px;
            }
        }
    }
}

.sc_tag {
    display: inline-block;
    vertical-align: top;
    &_box {
        font-size: 0;
        .sc_tag + .sc_tag {
            margin-left: 4px;
        }
    }
    &.finish {
        display: inline-block;
        width: 25px;
        height: 14px;
        line-height: 14px;
        background-color: #5e25c7;
        font-size: 10px;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        align-items: baseline;
    }
    &.up {
        width: 20px;
        height: 14px;
        line-height: 13px;
        background-color: #00bee5;
        font-size: 10px;
        color: #fff;
        text-align: center;
        border-radius: 7px;
        span {
            display: block;
            transform: scale(0.8);
            transform-origin: center center;
        }
    }
    &.pay {
        width: 14px;
        height: 14px;
        line-height: 14px;
        background-color: #ff8000;
        font-size: 10px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        span {
            display: block;
            transform: scale(0.8);
            transform-origin: center center;
        }
    }
    &.re {
        width: 20px;
        height: 14px;
        line-height: 10px;
        font-size: 10px;
        color: #424242;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        text-align: center;
        border-radius: 7px;
        background-color: #fff;
        span {
            display: block;
            transform: scale(0.9);
            transform-origin: center center;
        }

    }
    &.ty_txt {
        border: solid 1px rgba(94, 37, 199, 0.3);
        border-radius: 3px;
        height: 16px;
        line-height: 13px;
        font-size: 11px;
        color: #5e25c7;
        padding: 0 5px;
        box-sizing: border-box;
    }
    &.service {
        background-color: #50c785;
        font-size: 10px;
        line-height: 14px;
        color: #fff;
        letter-spacing: -0.1px;
        border-radius: 3px;
        padding: 0 3px;
    }
    &.hold {
        border: 1px solid #50c785;
        font-size: 10px;
        line-height: 12px;
        height: 14px;
        font-weight: 500;
        box-sizing: border-box;
        color: #50c785;
        letter-spacing: -0.1px;
        border-radius: 3px;
        padding: 0 3px;
    }
    &.false {
        border: 1px solid #ff8000;
        font-size: 10px;
        line-height: 12px;
        height: 14px;
        font-weight: 500;
        box-sizing: border-box;
        color: #ff8000;
        letter-spacing: -0.1px;
        border-radius: 3px;
        padding: 0 3px;
    }
    &.save {
        border: 1px solid rgba(0, 0, 0, 0.3);;
        font-size: 10px;
        line-height: 12px;
        height: 14px;
        font-weight: 500;
        box-sizing: border-box;
        color: #424242;
        letter-spacing: -0.1px;
        border-radius: 3px;
        padding: 0 3px;
    }
}

.sc_ico {
    display: inline-block;
    &.new {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 11px;
        color: #fff;
        background-color: #f00;
        border-radius: 50%;
        text-align: center;
    }
}

.sc_counter {
    $this : &;
    &.ty1 {
        padding: 0 10px 0 5px;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-left: -4px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0 8px 8px 0;

        #{$this}_item {
            display: inline-block;
            vertical-align: top;
            padding-left: 12px;
            position: relative;
            font-size: 11px;
            line-height: 17px;
            background-repeat: no-repeat;
            background-position: 0 center;
            color: #fff;
            margin-left: 4px;
        }
        #{$this}_view {
            background-image: url(../images/ico/sc_ico_view.svg);
        }
        #{$this}_like {
            background-image: url(../images/ico/sc_ico_like.svg);
        }
    }
    &.ty2 {
        margin-left: -10px;
        #{$this}_item {
            display: inline-block;
            vertical-align: top;
            padding-left: 16px;
            position: relative;
            font-size: 12px;
            line-height: 18px;
            background-repeat: no-repeat;
            background-position: 0 center;
            color: #666;
            margin-left: 10px;
        }
        #{$this}_view {
            background-image: url(../images/ico/sc_ico_view_c.svg);
        }
        #{$this}_like {
            padding-left: 13px;
            background-image: url(../images/ico/sc_ico_like_c.svg);
        }
        #{$this}_star {
            padding-left: 13px;
            background-image: url(../images/ico/sc_ico_star_c.svg);
        }
    }
}


.sc_kw {
    margin-left: -5px;
    margin-top: -4px;
    &_item {
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        line-height: 14px;
        color: #21015d;
        margin-left: 5px;
        margin-top: 4px;
    }
}

.sc_writer {
    display: flex;
    align-items: center;
    &_thumb {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &_name {
        padding-left: 4px;
        min-width: 0;
        font-size: 12px;
        line-height: 1.42;
        letter-spacing: -0.12px;
        color: #424242;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &.ty_w {
        .sc_writer_name {
            color: #fff;
        }
    }
}






.input {
    &_ty1 {
        width: 100%;
        height: 40px;
        border-radius: 3px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding: 0 10px;
        color: #424242;
        outline: none;
        border-radius: 4px;
    }
}
.ta {
    &_ty1 {
        width: 100%;
        height: 120px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        color: #424242;
        outline: none;
        border-radius: 4px;
    }
}

.write_intro_wrap {
    padding: 30px 20px;
    .write_intro_sec {
        & + .write_intro_sec {
            margin-top: 30px;
        }
        &_tit {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            h2 {
                font-size: 14px;
                color: #212121;
                line-height: 17px;
            }
            .sub_txt {
                width: 100%;
                color: #666;
                font-size: 11px;
                line-height: 13px;
                margin-top: 6px;
            }
            .btn_chk {
                font-size: 11px;
                line-height: 17px;
                letter-spacing: -0.33px;
                color: #666;
            }
        }
    }

    .write_intro_top {
        .write_intro_ta {
            margin-top: 10px;
        }
    }
}


.sc_radio {
    display: inline-block;
    input[type="radio"]{
        position: absolute;
        z-index: -999;
        opacity: 1;
        &:checked ~ .sc_radio_btn {
            border-color: rgba(94, 37, 199, 0.5);
            color: #5e25c7;
            &::before {
                background-color: #5e25c7;
                border-color: #5e25c7;
            }
        }
    }
    &_btn {
        display: flex;
        padding: 0 8px;
        font-size: 12px;
        font-weight: 500;
        color: #424242;
        line-height: 22px;
        height: 24px;
        border: 1px solid #f5f5f5;
        border-radius: 12px;
        box-sizing: border-box;
        align-items: center;
        &::before {
            content:'';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: 1px solid #ccc;
            box-sizing: border-box;
            margin-right: 5px;
        }
    }
}


.no_result {

    &_wrap {
        text-align: center;
        margin: 50px 0;
    }
    display: inline-block;
    vertical-align: top;
    border: 1px solid #333;
    padding: 30px;

    text-align: center;
    .txt {
        font-size: 20px;
        line-height: 1.4;
        word-break: break-all;
    }
    .fc_red {
        display: inline-block;
        color: #f00;
    }
    .list_dot {
        display: inline-block;
        vertical-align: top;
        margin-top: 15px;
        vertical-align: top;
        text-align: left;
        li {
            padding-left: 10px;
            font-size: 14px;
            line-height: 1.5;
            position: relative;
            &::before {
                content:'·';
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}


@media (max-width:1024px) {

    .header {
        min-width: auto;
        &_top {
            padding: 0 30px;
        }




    }
    #wrap {
        min-width: auto;
    }
    .inner {
        padding: 0 30px;
    }

}

@media (max-width:767px) {

    .m_only {
        display: block;
    }
    #container {
        &.sub {
            padding-top: 100px;
            padding-bottom: 50px;
            &.has_mv {
                padding-top: 0;
            }
            &.no_mv {
                padding-top: 100px;
            }
        }
    }
    .inner {
        padding: 0 20px;
    }

    .header {
        min-width: auto;
        position: fixed;
        padding-bottom: 0;
        border-bottom: none;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
        &_top {
            padding: 0 20px;
            padding-right: 10px;
        }
        &_top_inner {
            height: 60px;
            .logo {
                img {
                    height: 29px;
                }
            }
        }
        &_util {
            right: 0;
            .btn_mypage {
                width: 40px;
                height: 40px;
                background-size: 20px;
            }
            .btn_lm {
                width: 40px;
                height: 40px;
                margin-left: 0;
                .bar_box {
                    width: 20px;
                    height: 18px;
                    .bar {
                        &.top {

                        }
                        &.mid {
                            top: 8px;
                        }
                        &.bot {
                            top: 16px;
                        }
                    }
                }
            }
            .btn_sign {
                margin-left: 0;

                &_ico {
                    width: 16px;
                    height: 16px;
                    background-size: 15px auto;
                    @at-root .ty_login .btn_sign_ico {
                        width: 30px;
                        height: 40px;
                    }
                }
                &_txt {
                    font-size: 12px;
                    margin-left: 4px;
                    margin-bottom: 2px;
                }
            }
        }
        .nav_area {
            height: 40px;
            .nav_list {
                overflow-x: auto;
                white-space: nowrap;
                li {
                    & + li {
                        margin-left: 0;
                    }
                    a {
                        font-size: 13px;
                        line-height: 40px;
                        letter-spacing: -0.65px;
                        span {
                            padding: 0 8px;
                        }
                    }
                    &.on {
                        a {
                            font-size: 18px;

                        }
                    }
                }
            }
        }
        /*
        @at-root .main &.bgon {
            background-color: #fff;
            .header_top {
                .logo {
                    background-image: url(../images/LOGO.png);
                }
            }
            .nav_area {
                .nav_list li a {
                    color: #212121;
                }
            }
            .header_util {
                .btn_mypage {
                    background-image: url(../images/ico/ico_mem_b.svg);
                }
                .btn_lm {
                    .bar_box .bar {
                        background-color: #212121;
                    }
                }
            }
        }
        */
    }

    .top_cate {
        padding: 9px 10px;
        margin-bottom: 20px;
        &_item {
            & + & {
                margin-left: 10px;
            }
        }
        &_link {
            height: 30px;
            line-height: 28px;
            font-size: 12px;

            &.on {
                padding: 0 15px;
                border-radius: 15px;
                font-size: 13px;
            }
        }
    }

    .sc_thumb_rank {
        font-size: 30px;
        line-height: 1;
        right: 6px;
        top: -17px;
    }

    .sc_counter {
        &.ty2 {
            .sc_counter_item {
                font-size: 10px;
                line-height: 14px;
            }
        }
        &.ty1 {
            .sc_counter_item {
                font-size: 10px;
                line-height: 14px;

            }
        }
    }
    .btn {
        &_more {
            padding: 0;
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
            width: auto;
            height: 26px;
            span {
                padding-right: 12px;
                box-sizing: border-box;
                line-height: 26px;
            }
        }
    }

    .top_sort_area {
        margin-bottom: 20px;
        .top_sort_sec {
            & + .top_sort_sec {
                margin-top: 11px;
            }
        }
        .tag_list {
            text-align: left;
        }
    }
    .sc_search {
        width: 100%;
        max-width: none;
    }

    .top_chk_area {
        margin-bottom: 15px;
    }


    .no_result {
        &_wrap {
            margin: 30px 0;
        }
        padding: 15px;
        .txt {
            font-size: 16px;

        }
        .list_dot {
            li {
                font-size: 12px;
            }
        }
    }
}